<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Playlist Matcher</title>
    <script type="text/javascript">

        function findMatches() {
            var playlistID = document.getElementById("playlists").value;
            var other_user_name = document.getElementById("other_user").value;
            fetch('/match/' + other_user_name + '/' + playlistID)
              .then(function (response) {
                  return response.text();
              }).then(function (text) {
                  document.getElementById("selected_playlist").innerHTML = text;
              });
        }
    </script>
</head>
<body>
<h1>Spotify Playlist Matcher</h1>
<label for="other_user">Enter Another User:</label>
    <input type="text" id="other_user" name="other_user"><br><br>

<label for="playlists">Select a playlist:</label>

    <select name="playlists" id="playlists" onchange="findMatches()">
        {% for playlist in playlist_names %}
            <option value={{playlist.id}}> {{playlist.name}}</option>
        {% endfor %}
    </select>
    <p id='selected_playlist'></p>
</body>
</html>